@import url(https://fonts.googleapis.com/css?family=Lora);

body,
html,
div,
p,
span,
a,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
}

body {
  background-color: #8199BB;
  color: white;
  font-family: tahoma;
  font-weight: lighter;
  padding-top: 40px;
}

body p {
  font-size: 14px;
}

body p a {
  font-size: 16px;
}

h1 {
  color: #6EA8CB;
  font-style: italic;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* general */

.clear {
  clear: both;
}


/* Header */

.brand {
  color: #6EA8CB !important;
  font-family: georgia;
  font-style: italic;
}


/* list stuff */

#org {
  background-color: white;
  margin: 10px;
  padding: 10px;
}

#show-list {
  cursor: pointer;
}


/* bootstrap overrides */

.alert-message {
  margin: 2px 0;
}

.topbar {
  position: absolute;
}


/* Custom chart styling */

.jOrgChart {
  margin: 10px;
  padding: 20px;
  position: fixed;
  /* center the element */
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  /* give it dimensions */
  min-height: 10em;
  width: 90%;
}


/* Custom node styling */

.jOrgChart .node {
  border: 2px solid #FFFFFF;
  border-radius: 3px;
  color: #C02600;
  font-size: 14px;
  position: relative;
  width: 135px;
  height: 80px;
}

.jOrgChart .vp {
  background-color: #eeeeee;
}

.jOrgChart .cio {
  background-color: #2DE7EF;
}

.jOrgChart > table {
  float: left;
  margin-right: 100px;
}

.node p {
  font-family: tahoma;
  font-size: 10px;
  line-height: 11px;
  padding: 2px;
}

.hidden {
  display: none;
}

.temp {
  border: dotted 2px #869baf !important;
}

.add {
  background: url(../Imagenes/plus_circle.png) no-repeat 50% 50%;
}

.del {
  background: url(../Imagenes/del_circle.png) no-repeat 50% 50%;
}

.edit {
  background: url(../Imagenes/edit_squere.png) no-repeat 50% 50%;
}

.exp-col {
  background: url(../Imagenes/col.png) no-repeat 50% 50%;
  position: absolute;
  left: 44%;
  top: 70px;
}

.contracted .exp-col {
  background: url(../Imagenes/exp.png) no-repeat 50% 50%;
}

.edit,
.del,
.add,
.exp,
.col,
.exp-col {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 0;
}

.del,
.delete {
  margin-right: 10px;
  margin-left: 0;
}

.jOrgChart .nrow {
  background-color: #F4E8F6;
}

.jOrgChart .firow {
  background-color: wheat;
}

.jOrgChart .serow {
  background-color: #aad3d3;
}

.jOrgChart .throw {
  background-color: #f7ea7d;
}

.jOrgChart .forow {
  background-color: #debcef;
}

.jOrgChart .sirow {
  background-color: #e9d6e9;
}

.jOrgChart .norow {
  background-color: #d1e6c7;
}

.opciones {
  position: absolute;
  right: 0;
  top: 60px;
}

.root .opciones {
  padding-right: 10px;
}

#org {
  display: none;
}

#usuario, #proyecto{
  font-family: 'Lora', serif;
  height: 50px;
  font-size: 12px;
  position: relative; 
  top: 15px;
  right: -20px;
}
