@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.fondo {
  background: url(../Imagenes/fondoInicio.png);
  font-family: 'Open Sans', 'sans-serif';
  font-size: 30px;
}
/* div surrounding login form */
#login {
  background-color: #dcefb8;
  opacity: 1;
  height: 280px;
  width: 400px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 180px;
  padding: 0;
  text-align: center;
}

/* form header */
h1 {
  font-size: 32px;
  padding: 10px;
  margin: 0;
  color: #FFFFFF;
  background-color: #9cceb5;
  margin-bottom: 15px;
}

h2{
  font-size: 25px;
  padding: 10px;
  margin: 0;
  color: #FFFFFF;
  background-color:#9cceb5;
  margin-bottom: 15px;
}
/* text fields */
input:not([type="button"]) {
  width: 300px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #d7dde8;
  margin-bottom: 15px;
  text-align: center;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  font-size: 25px;
}

input:not([type="button"]):focus {
  color: #c7f774;
  width: 370px;
  border: 1px solid #9cceb5;
  outline: none;
  font-size: 32px;
}

/* submit button */
input[type="button"] {
  font-size: 32px;
  color: #fff;
  background-color: #9cceb5;
  box-shadow: 0 5px 0 0 #80b299;
  border: none;
  padding: 10px;
  width: 400px;
  display: inline-block;
  position: relative;
  outline: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

input[type="button"]:active {
  box-shadow: 0 1px 0 0 #80b299;
  -webkit-transform: translate(0,5px);
  -moz-transform: translate(0,5px);
  transform: translate(0,5px);
}