/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

@import url(https://fonts.googleapis.com/css?family=Lora);

body,
html,
div,
p,
span,
a,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
}

body {
  background-color: #69B658;
  font-family: tahoma;
  font-weight: lighter;
  padding-top: 40px;
}

body p {
  font-size: 14px;
}

body p a {
  font-size: 16px;
}

h1 {
  color: #6EA8CB;
  font-style: italic;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* general */

.clear {
  clear: both;
}


/* Header */

.brand {
  color: #6AB24F !important;
  font-family: georgia;
  font-style: italic;
}


/* list stuff */

#org {
  background-color: white;
  margin: 10px;
  padding: 10px;
}

#show-list {
  cursor: pointer;
}


/* bootstrap overrides */

.alert-message {
  margin: 2px 0;
}

.h3{
  font-family: 'Lora', serif;
  height: 50px;
  font-size: 12px;
  position: relative; 
  top: 15px;
  right: -20px;
}

#usuario, #proyecto{
  font-family: 'Lora', serif;
  height: 50px;
  font-size: 12px;
  position: relative; 
  top: 15px;
  right: -20px;
}


#back, #save, #modify, #plantilla, #relation {
    width: 100px;
    height: 50px;
    border-radius: 3px;
    margin-left: 20px;
    margin-top: 20px;
}