@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.fondo {
  background: url(Imagenes/fondoInicioa.png);
  font-family: 'Open Sans', 'sans-serif';
  font-size: 30px;
}
/* div surrounding login form */
#login {
  background-color: #eee;
  opacity: 1;
  height: 280px;
  width: 400px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
  text-align: center;
}

/* form header */
h1 {
  font-size: 32px;
  padding: 10px;
  margin: 0;
  color: #FFFFFF;
  background-color: #caee54;
  margin-bottom: 15px;
}

h2{
  font-size: 25px;
  padding: 10px;
  margin: 0;
  color: #FFFFFF;
  background-color: #caee54;
  margin-bottom: 15px;
}


/* Message alert */
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: 20px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
hr{
    color: brown;
    width:80%;
    border: solid;
}
/* diagrams */
#lienzo{
    border:2px solid #000000;
    padding: 0px;
    margin: auto;
    display: block;

}
#cabecera {
    background-color: #caee54;
    width: 100%;
    height:78px;

}
#menu {
  float: left;
  width: 20%;
}

#contenido {
  float: left;
  width: 80%;
}
#contenido #principal{
  float: left;
  width: 80%;
}
/* canvas draggable*/
.draggable {
  border-radius: 30px;
  background: burlywood;
  width: 100px;
  height: 50px;
  padding: 0.5em;
  float: left;
  margin: 10px 10px 10px 0;
  text-align: center;
  display: inline-block;
}
ul {
  padding: .2em .2em .3em .2em;
  width: 100px;
}
